html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}

header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 30vh;  
    height: auto;
    margin-left: 6px;
    margin-top: 6px;
}

#mainContainer {
    margin: 4px;
    min-height: 0;
    display: flex;

    flex: 0 1 auto;
}

#contentContainer {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

#videoWrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 0;
}

.videoContainer {
    margin: 2px;
    height: 45vh;
    width: 60vh;
    min-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DAE0E6;
}

.video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#remoteVideo {
    border-top-left-radius: 15px;
}

#remoteVideoContainer {
    border-top-left-radius: 15px;
}

#localVideo {
    border-bottom-left-radius: 15px;
}

#localVideoContainer {
    border-bottom-left-radius: 15px;
} 

#chatContainer {
    flex: 1 1 auto;
    min-width: 0; /*https://stackoverflow.com/questions/41674979/flex-child-is-growing-out-of-parent*/
    display: flex;
    flex-direction: column;
}

#bottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
}

#chatBox {
    margin: 2px;
    border-top-right-radius: 15px;
    flex: 1 1 auto;
    list-style-type: none;
    padding: 5px;
    
    /* allow list to scroll */
    height: 0; /* https://stackoverflow.com/questions/31292954/how-can-i-get-overflowscroll-inside-a-flex-box */
    overflow: auto;
    background-color: #DAE0E6;
}

.sentMessage {
    width: fit-content;
    color: white;
    padding: 10px;
    background-color: darkcyan;
    border-radius: 20px;
    margin: 2px;

    overflow-wrap: break-word;
    max-width: 50%;

    float: right; /*https://stackoverflow.com/questions/33322281/aligning-message-bubbles-right-and-left*/
    clear: both;
}

.recievedMessage {
    width: fit-content;
    color: white;
    padding: 10px;
    background-color: orange;
    border-radius: 20px;
    margin: 2px;

    overflow-wrap: break-word;
    max-width: 50%;

    float: left;
    clear: both;
}

.timer {
    width: fit-content;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 20px;
    margin: 2px;

    overflow-wrap: break-word;
    max-width: 50%;

    float: left;
    clear: both;
}

.userTyping {
    width: fit-content;
    margin: 2px;
    max-width: 50%;

    float: left;
    clear: both;
}

.typingLogo {
    width: 45px;
}

.showCamera {
    width: fit-content;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 20px;
    margin: 2px;

    overflow-wrap: break-word;
    max-width: 50%;

    float: left;
    clear: both;
}

.numUsers {
    font-size: 1rem;
    margin-right: 5px;
}

#inputBox {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#arrow {
    flex: 0 1 auto;
    height: 3vh;
    margin: 5px;
}

#textInput {
    flex: 1 1 auto;
    resize: none;
}

#sendMessageButton {
    border: none;
    font-size: 0.75rem;
    border-radius: 12px;
    flex: 0 0 auto;
    margin: 5px;
    padding: 5px;
}

#nextButton {
    border: none;
    font-size: 16px;
    margin: 5px;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    flex: 0 0 auto;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    background-color: lightgray;
  }

.hvr-fade:hover {
    background-color: turquoise;
    color: white;
}

.hvr-fade:active {
    background-color: limegreen;
    color: white;
    -webkit-transition: background-color 0s;
    transition: background-color 0s
} 

#checkboxLabel {
    margin: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    pointer-events: none;
    cursor: default;

    font-size: 1rem;
}

input[type='checkbox']{
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    margin: 5px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    outline: 4px solid lightgray;
    box-shadow: none;
}

input[type='checkbox']:hover {
    outline: 4px solid turquoise;
}

input[type='checkbox']:checked {
    background-color: limegreen;
}

/* Config */
:root {
    --sk-size: 40px;
    --sk-color: #333;
  }
  
/* Utility class for centering */
/*  Circle
      <div class="sk-circle">
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
      </div>
 */
 .sk-circle {
    width: var(--sk-size);
    height: var(--sk-size);
    position: relative; 
  }
  
  .sk-circle-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-circle-dot:before {
      content: '';
      display: block;
      width: 15%;
      height: 15%;
      background-color: var(--sk-color);
      border-radius: 100%;
      animation: sk-circle 1.2s infinite ease-in-out both; 
  }
  
  .sk-circle-dot:nth-child(1) { transform: rotate(30deg); }
  .sk-circle-dot:nth-child(2) { transform: rotate(60deg); }
  .sk-circle-dot:nth-child(3) { transform: rotate(90deg); }
  .sk-circle-dot:nth-child(4) { transform: rotate(120deg); }
  .sk-circle-dot:nth-child(5) { transform: rotate(150deg); }
  .sk-circle-dot:nth-child(6) { transform: rotate(180deg); }
  .sk-circle-dot:nth-child(7) { transform: rotate(210deg); }
  .sk-circle-dot:nth-child(8) { transform: rotate(240deg); }
  .sk-circle-dot:nth-child(9) { transform: rotate(270deg); }
  .sk-circle-dot:nth-child(10) { transform: rotate(300deg); }
  .sk-circle-dot:nth-child(11) { transform: rotate(330deg); }
  .sk-circle-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-circle-dot:nth-child(2):before { animation-delay: -1s; }
  .sk-circle-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-circle-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-circle-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-circle-dot:nth-child(6):before { animation-delay: -0.6s; }
  .sk-circle-dot:nth-child(7):before { animation-delay: -0.5s; }
  .sk-circle-dot:nth-child(8):before { animation-delay: -0.4s; }
  .sk-circle-dot:nth-child(9):before { animation-delay: -0.3s; }
  .sk-circle-dot:nth-child(10):before { animation-delay: -0.2s; }
  .sk-circle-dot:nth-child(11):before { animation-delay: -0.1s; }
  
  @keyframes sk-circle {
    0%, 80%, 100% {
      transform: scale(0); }
    40% {
      transform: scale(1); 
    } 
  }

  #loader {
      display: none;
  }

#autoNext {
    flex: 0 0 auto;
}

@media only screen and (max-width: 860px) {
    #sendMessageButton {
        display: none;
    }
}

@media only screen and (max-aspect-ratio: 3/4) {
    /* For mobile phones: */
    header {
        flex: 0;
    }

    #mainContainer {
        margin: 4px;
        min-height: 0;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    #localVideoContainer {
        height: 15vh;
        width: 20vh;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #remoteVideoContainer {
        /* width: 98.5vw; */
        height: 73.875vw;
        width: 100%;
        border-top-right-radius: 15px;
    }

    #videoWrapper {
        position: relative;
    }
    
    #remoteVideo {
        border-top-right-radius: 15px;
    }
    
    #localVideo {
        border-bottom-left-radius: 0;
    }
    
    #localVideoContainer {
        border-bottom-left-radius: 0;
        margin-left: 0;
    } 

    #chatBox {
        border-top-right-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #sendMessageButton {
        display: none;
    }
}