<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow" />
		<meta name="description" content="heypong is a free website for meeting people around the world and connecting through video, audio, and text chat. Strangers are chosen at random, no login is required. Have fun and be safe!">

		<link rel="icon" href="/static/favicon.svg" sizes="any" type="image/svg+xml">
		<title>heypong - Chat with random people around the world!</title>
		<link rel="stylesheet" href="/static/style.css">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-3336WVZQMM"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-3336WVZQMM');
		</script> -->
	</head>

	<body id="body">

		<header>
			<img id="logo" src="/static/logo.svg">
			<div id = numUsers class=numUsers>Users Online: </div>
		</header>

		<div id="mainContainer">
			<div id="contentContainer">
				<div id=videoWrapper>
					<div class = "videoContainer" id="remoteVideoContainer">
						<div id=loader class="sk-circle">
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
							<div class="sk-circle-dot"></div>
						  </div>
						<video autoplay="true" class = "video" id="remoteVideo">

						</video>
					</div>
					<div class = "videoContainer" id="localVideoContainer">
						<video autoplay="true" class = video id="localVideo">
						
						</video>
					</div>
				</div>
			</div>
		
			<div id="chatContainer">
				<ul id=chatBox>

				</ul>

				<div id="bottomRow">
					<button type="button" id="sendMessageButton" class="hvr-fade">Send<br>Message</button>
					<img id="arrow" src="/static/line-angle-right.svg">
					<textarea id = textInput name=textInput cols="40" rows="5"></textarea>	
					
					<button id="nextButton" class="hvr-fade">Next</button>
					
					<label for="autoNext" id="checkboxLabel">Enable Auto-Next:</label>
					<input type="checkbox" id="autoNext" name="autoNext">
				</div>
			</div>
		</div>


		<script src="/static/signaling.js"></script>
	</body>
</html>